{% extends 'app1/base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block search  %}
        <h5> Kết quả tìm kiếm: {{searched}}</h5> <br />
        <div class="row" style="width:100%;">
          {% for product in keys %}
          <div class="col-lg-3">
              <img class="thumbnail" src="{{product.ImageURL}}">
              <div class="box-element product">
                  <h6><strong>{{product.name}}</strong></h6>
                  <p>Người bán: <strong>{{ product.seller.username }}</strong></p>
                  <hr>
      
                  {% if request.user.is_authenticated %}
                  <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-itemtrade">Thêm vào danh sách</button>
                  <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">Xem</a>
                  {% else %}
                  <a class="btn btn-outline-warning" href="{% url 'login' %}">Đăng nhập để xem</a>
                  {% endif %}
                  <h3 style="display: inline-block; float: right"><strong>{{product.price}} đồng </strong></h3>
              </div>  
          </div>
          {% endfor %}
      </div>
        {% endblock search %}
    </body>
</html>